<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
	   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.3.xsd
       http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<bean id="frameworkTransactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<tx:annotation-driven proxy-target-class="true" transaction-manager="frameworkTransactionManager" />

<!-- @Transactional(isolation = Isolation.DEFAULT, propagation = Propagation.REQUIRED, readOnly = false) -->
	<tx:advice id="txAdvice" transaction-manager="frameworkTransactionManager"> 
        <tx:attributes> 
            <tx:method name="insert*" isolation="DEFAULT" propagation="REQUIRED" /> 
            <tx:method name="delete*" isolation="DEFAULT" propagation="REQUIRED" /> 
            <tx:method name="update*" isolation="DEFAULT" propagation="REQUIRED" /> 
<!--             <tx:method name="*" propagation="true" />  -->
        </tx:attributes> 
    </tx:advice> 
 
    <aop:config> 
        <aop:pointcut id="frameworkPoint" expression="(execution(* com.yirun.*.service.*.*(..))) and (execution(* com.hongkun.*.service.*.*(..)))" /> 
        <aop:advisor advice-ref="txAdvice" pointcut-ref="frameworkPoint" /> 
    </aop:config>

	<bean id="frameworkSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations">
			<array>
			<value>classpath*:com/yirun/**/model/**/mapper/*.xml</value>
			<value>classpath*:com/hongkun/**/model/**/mapper/*.xml</value>
			</array>
		</property>	
		<property name="typeAliasesPackage" value="classpath:com.yirun.**.model;com.hongkun.**.model" />
		<property name="plugins">
			<list>
				<bean
					class="com.yirun.framework.dao.mybatis.interceptor.OffsetLimitInterceptor">
					<property name="dialect">
						<bean class="com.yirun.framework.dao.mybatis.dialect.MySQLDialect" />
					</property>
				</bean>
				<!-- <bean class="com.yirun.framework.dao.ibatis.interceptor.LogDaoInterceptor"/> -->
			</list>
		</property>
	</bean>

	<bean id="frameworkSqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="frameworkSqlSessionFactory" />
	</bean>

	<bean id="myBatisBaseDao" class="com.yirun.framework.dao.mybatis.impl.MyBatisBaseDaoImpl">
		<property name="sqlSessionFactory" ref="frameworkSqlSessionFactory" />
		<property name="sqlSessionTemplate" ref="frameworkSqlSessionTemplate" />
	</bean>
	
	<bean id="propertiesHolder" class="com.yirun.framework.core.utils.PropertiesHolder"/>
    
    <bean id="mapperHotDeploy" class="com.yirun.framework.dao.plugins.MapperHotDeployPlugin"/>
</beans>